{% extends 'main.html' %}

{% block content %}
<table bgcolor="#eeeeee">
 	<tr>
 		<th colspan=3>Существа</th>
 	</tr>
 	<tr>
 		<th>Имя</th>
 		<th>Описание</th>
 		<th>Страна</th>
 		<th>Зона обитания</th>
 		<th>Псевдоним</th>
 		<th>Пользователь</th>

 	</tr>
 	{% for creature in creatures: %}
 	<tr>
 		<td>{{ creature.name }}</td>
 		<td>{{ creature.description }}</td>
 		<td>{{ creature.country }}</td>
 		<td>{{ creature.area }}</td>
 		<td>{{ creature.aka }}</td>
 		<td>{{ creature.user }}</td>
 	</tr>
 	{% endfor %}
 </table>
 <form action="/creature/add" method="POST">
    	<button type="submit">Добавить существо</button>
 </form>
{% endblock %}