{% extends 'main.html' %}

{% block content %}
 <form action="/explorer/add" method="POST">
    <button type="submit">Добавить исследователя</button>
 </form>
 <h1>{{message_explorer}}</h1>

 <table bgcolor="#dddddd">
 	<tr>
 		<th colspan=2>Исследователи</th>
 	</tr>
 	<tr>
 		<th>Имя</th>
 		<th>Страна</th>
 		<th>Описание</th>
 		<th>Пользователь</th>
 	</tr>
 	{% for explorer in explorers: %}
 	<tr>
 		<td>{{ explorer.name }}</td>
 		<td>{{ explorer.country }}</td>
 		<td>{{ explorer.description }}</td>
 		<td>{{ explorer.user }}</td>
 		<td>
 			<form action="/explorer/edit" method="POST">
    				<button type="submit">🖊️</button>
			</form>
 		</td>
 		<td>
 			<form action="/explorer/delete" method="POST">
    				<button type="submit">🗑️</button>
			</form>
 		</td>
 	</tr>
 	{% endfor %}
 </table>
{% endblock %}
 

