<!DOCTYPE html>
<html lang="en">
<style>
	html * {
 		font-size: 20pt;
 		font-family: Courier, sans-serif;
	}
	body {
 		margin: 0 auto;
 		max-width: 1000px;
	}
	.container {
    	display: flex; /* Активирует Flexbox */
    	gap: 10px;    /* Расстояние между элементами */
  		}
  	.item {
    	width: 50%;
  		}
</style>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Существа и исследователи</title>
</head>
<body>
	<h1>Существа и исследователи</h1>

	<div class="container">
  		<div class="item">
			<a href="/">Главная страница</a>
  		</div>
  		<div class="item">
  			<a href="/user/registration">
    			<button>Регистрация</button>
    		</a>
  			<a href="/user/login">
    			<button>Войти</button>
			</a>
  		</div>
	</div>
	
	
	{% block content %}
	{% endblock %}
</body>
</html>